{% extends "galleria/base.html" %}
{% load get_random_testimonial %}
{% load get_latest_entries %}


	{% block title %}{{ block.super }} | {{ slug.name|title }}{{ total }}
	{% endblock %}


{% block main_content %}
	{% block page_heading %}	 
        {% if slug.slug == "all" %}
		 <h1> {{ block.super }}: All Images </h1>
		{% else %}
		<h1>{{ block.super }}: {{ slug.name|title }}</h1>
		{% endif %}
   {% endblock %}
	
	{% block pagination_top %} {{ block.super }} {% endblock %}
	
	    <ul class="gallery">
	    {% for image in image_list %}
			{% if forloop.counter0|divisibleby:"4" %}
	        <li class="startRow"><a href="{{ image.get_absolute_url }}">
				<img src="{{ image.get_img_url }}" title="{{ image.caption }}" alt="{{ image.caption }}"/>
				<h6 class="caption">{{ image.caption }}</h6></a></li>
			{% else %}
			<li><a href="{{ image.get_absolute_url }}">
				<img src="{{ image.get_img_url }}" title="{{ image.caption }}" alt="{{ image.caption }}"/>
				<h6 class="caption">{{ image.caption }}</h6></a></li>
			{% endif %}
		{% empty %}
		    <li>Sorry, no images found!!!</li>
	    {% endfor %}
	    </ul>
	
	{% block pagination_bottom %} {{ block.super }} {% endblock %}
	        
{% endblock %}

