{% extends "section_base.html" %}
{% load menubuilder %}
{% load get_latest_entries %}
{% load get_latest %}
{% block title %}Gristmill Customer Testimonials {% endblock %}
			
	{% block side_bar %} 
		{% block sub_menu %} 
		<nav class="submenu">  	   	  
		<!-- testimonial submenu here -->
		{% menu testimonial_menu_list %}
			{% for item in menuitems %}
				{% if forloop.first %} 
				<h3><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></h3>
					<ul>
			  	{% elif forloop.last %}
			  			<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
				   </ul>
				{% else %}	    		   	  
					    <li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
				{% endif %}
			{% endfor %}     				
		</nav>
		{% endblock %}

		{% block mini_gallery %}
			<section id="miniGallery">
	  		  	<h3><a href="/gallery/all">Cake Shop Magic</a></h3>
			    {% get_latest galleria.Image 6 as most_recent_images %} 
				<ul>
				{% for image in most_recent_images %}
					{% if forloop.counter0|divisibleby:"3" %}
		        	<li class="startRow"><a href="{{ image.get_absolute_url }}" title="Details on: {{ image.caption }}">
						<img src="{{ image.get_img_url }}" alt="{{ image.caption }}"/></a></li>
					{% else %}
					    <li><a href="{{ image.get_absolute_url }}" title="Details on: {{ image.caption }}">
							<img src="{{ image.get_img_url }}" alt="{{ image.caption }}"/></a></li>
					{% endif %}
				{% empty %}
				    <li>Sorry, no images found!!!</li>
				{% endfor %}
				</ul>
				<p><a class="more" href="/gallery/all/">more photos »</a></p>
	    	</section><!-- end section#miniGallery -->
		{% endblock %}

	   	{% block news %}
			{{ block.super }}
		{% endblock %}

		{% block social_media %}
			{{ block.super }}
		{% endblock %}

	{% endblock %}    

		
 