{% extends 'testimonials/base.html' %}

{% block title %}{{ block.super }} | Archive {% endblock %}
	 
	{% block main_content %}
	<h1>{% block page_heading %}Testimonial Archive{% endblock %}</h1>

	{% block pagination_top %} {{ block.super }} {% endblock %}

	{% block page_content %}
		<ul class="testimonialArchive">
			{% for quotation in latest_quotations %}
			<li>
			    <blockquote>{{ quotation.quote }}</blockquote>   				
					<p class="citation">
						<em class="quoteSource">- {{ quotation.customer }}</em> <br>
						<span class="place">{{ quotation.customer.city }}, {{ quotation.customer.state_province }}</span><br>
					   <span class="date">{{ quotation.date }}</span> 
					 </p>     
			</li>		   
			{% endfor %}
	 	</ul>  
    {% endblock %}

	{% block pagination_bottom %} {{ block.super }} {% endblock %}
	
{% endblock %}
	
	
  

