/* == Layout for gallery
__________________________________________________*/
section#mainContent {
	padding-right: 0;
	width: 625px;
	float: left;
	} 
aside#sidebar {
	margin: 0 0 0 10px;
	padding: 0 0 40px 10px;
	width: 233px;
	float: left; 
	}
#sidebar section#socialMedia ul {
   margin-left: 20px;
	}

/* == Gallery images
__________________________________________________*/
ul.gallery {
	margin: 20px 0 10px 0;
	padding: 0;
	float: left;
	clear: both;
}
.gallery li {
	display: block;
	margin: 0 0 10px 0;
	padding: 0;
	width: 156px;
	float: left;
	text-decoration: none;
	}
.gallery a, .gallery a:link, .gallery a:visited {
	display: block;
	width: 90%;
	padding: 2px;
	background-color: #ffffcc;
	border: 1px solid #999966;
}
.gallery a:hover, .gallery a:focus, .gallery a:active {
	text-decoration: none;
	border-color: #663300;
		}
.gallery img {
	padding: 0;
	margin: 0;
	width: 140px; /* actual size is 150px - 90% of 156px = 140 */  		
}

.gallery h6 {
    margin: 0;  	
	padding: 3px 2px;
	width: 136px; /* actual size is 150px wide plus borders and padding = 156px */
	color: #330000;  	       	
	}
.gallery img {
	margin-bottom: 0;
	border: none;   
	}
.gallery h6.caption {
	margin: 0 0 0 0;
	padding: 0;
	font: 13px/1.4 'MyriadWebProRegular', Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
	border-top: none;
	}
