 /* == 
wrappers
_______________________________________________*/
html {
	margin: 0;
	padding: 0;
	background: url(../img/bg_painting.jpg) no-repeat left top scroll #ffcc66;
	/*background-color: #ffcc66;*/
	max-width: 2400px;
	}
body {
	margin-left: 0;
  	margin-right: 0;
	width: 2400px;
	/*background-color: #999999*/
	}
#wrapper {	
	/*position: relative;*/
	width: 1000px;
	/*background-color: hsla(40,100%,70%,.89); */
	background: url(../img/bg_content_gradient.png) repeat-y left top scroll transparent; 
  	height: auto;
	/*background-color: yellow;*/
	}	
/* == 
header#mainHeader 
________________________________________________*/
#mainHeader {
	position: relative;
	margin-left: 0;
  	margin-right: 0;
	background: url(../img/grad_top.png) repeat-x left -75px scroll transparent;
	width: 2400px;
	}
/* elements inside #mainHeader */ 
#branding {
	text-indent: -99999em;
	}
#branding h1 {
	margin: 0;
	padding: 0;
	width: 482px;
	height: 353px;
	}
#branding h2 {
	margin: 0;
	padding: 0;
	font-size: 1px;
	}
#branding a {
	position: absolute;
	z-index: 10;
	width:inherit;
	height: inherit;
	background: url(../img/gristmill_logo.png) no-repeat left 7px scroll transparent;
	}
#contactNav {
	width: 100%;
	height: 90px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	background: hsla(0,100%,10%, .5);
	border-bottom: solid 1px #663300;
	}
#contactNav ul {
	margin: 0;
	position: absolute;
	left: 460px;
	width: 500px;
	}
#contactNav a {
	margin: 0;
	padding: 0 20px 0 20px;
	float: left;
	text-align: center;   
	line-height: 90px;
	vertical-align: middle;   
	border-left: solid 1px #663300;
	font-size: 20px;
	}
#mainNav {
	position: absolute;
	top: 130px;
	left: 620px;
	width: 300px;
	}
#mainNav a {
	font-size: 24px;
	line-height: 28px;
	vertical-align: baseline;
	}
	
/*==
section#content 
______________________________________________*/
#content {
	padding: 0 0 40px 0;
	width: 960px;
	/*background-color: pink; */
	}
#mainContent {
	margin: 0 0 0 60px;
	padding: 0 20px 40px 20px;
	width: 500px;
	float: left;
	/*background-color: #d4d4d4; */
	}
#sidebar {
	margin: 60px 0 0 10px; /* changed */
	padding: 0 20px 40px 20px;
	width: 300px;
	float: left;
	border-left: 1px dashed #996600;
   /* background-color: #efefef;  */
	}
#sidebar section {
	margin: 10px auto 10px auto;
	padding: 0 10px 10px 10px;
	border-top: 1px dashed #996600;
	}
#sidebar section:first-child {
	margin-top: 0;
	border-top: 1px none;
	}
/*==
Elements inside footer#mainFooter 
_________________________________________________*/
#mainFooter {
	margin: 0;
	padding-top: 20px;
	color: #ffffcc;
	width: 2400px;
	height: 100%;
	background-color: #330000;
	/*float: left; */
	} 
	
/*== Clear Floated Elements
---------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

/*.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
} */

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

	.clearfix:before,
	.clearfix:after {
	  content: '.';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  font-size: 0;
	  line-height: 0;
	  width: 0;
	  height: 0;
	}
	.clearfix:after {
	  clear: both;
	}
