<section id="promo">
  <div class="grid_4">
    <a class="hotBox" href="/bakery/">
      <h2>Bakery</h2>
		   <img src="/media/img/file.jpg" alt="alt">
		<p>We've got all your baked good needs. From cake to cookies, pastries to your daily bread.</p>
    </a>
  </div>
  <!-- end .grid_4 -->
  <div class="grid_4">
    <a class="hotBox" href="/deli/">
      <h2>Deli</h2>
		   <img src="/media/img/file.jpg" alt="alt">
		<p>We've got more than a fabulous sandwich bar. You'll find your favourite meats and cheeses, fresh home-made soups and salads and then there is the grill...</p>
    </a>
  </div>
  <!-- end .grid_4 -->
  <div class="grid_4 omega">
    <a class="hotBox" href="/cafe/">
      <h2>Caf&eacute;</h2>
		   <img src="/media/img/file.jpg" alt="alt">
		<p>Espresso just how you like it, an array of fresh brewed coffee, an assortment of tea are staples in not drinks, and we've got milk shakes, smoothies and home-made iced tea, too...</p>
    </a>
  </div>
  <!-- end .grid_4 -->
  <div class="clear"></div> 
</section>