<h3>Recent Gristmill Magic</h3>
	<ul style="list-style: none;">
    {% for image in image_list %}
		{# Each "image" is an Image model object. #}
        <li style="float: left; margin: 2px 1px 2px 0; padding: 2px; text-align: center;">
			<img style="height: 50px;" src="{{ image.filename.url }}" title="{{ image.caption }}" alt="{{ image.caption }}"/>
		</li>
	{% empty %}
	    <p>Sorry, no images found!!!</p>
    {% endfor %}
		<li style="float: left; margin: 2px; padding: 2px; text-align: center;"><a href="/gallery/all/">More photos</a></li>
    </ul>