{% extends "base.html" %}
{% load get_latest %}
{% load get_latest_entries %}
{% load get_random_testimonial %}
{% load get_teasers %}
{% block title %}Gristmill Bakery Deli Café | Welcome and dig in! {% endblock %}
   
	{% block main_content %}

		{% for page_intro in page_intros %} 
		<h2>{{ page_intro.title }}</h2> 
	 		{{ page_intro.intro_text_html|safe }}
     	{% endfor %}

	<hr>
	
    	{% get_teasers %}
		<ul id="teasers">   
			{% for teaser in teasers %}
				{% if forloop.counter0|divisibleby:"2" %}
				<li class="startRow"><a href="{{ teaser.link_url }}">
					<h2>{{ teaser.title }}</h2>
	    	       {% if teaser.image %}<img src="{{ teaser.image.get_img_url }}" title="teaser.image.title" alt="teaser.image.description" /> {% endif %}  
			       <p>{{ teaser.blurb }}</p>
				</a></li>
				{% else %}   			
				<li><a href="{{ teaser.link_url }}">
					<h2>{{ teaser.title }}</h2>
    	    	   {% if teaser.image %}<img src="{{ teaser.image.get_img_url }}" title="teaser.image.title" alt="teaser.image.description" /> {% endif %}  
		    	   <p>{{ teaser.blurb }}</p>
				</a></li>
				{% endif %}	 	 
		{% endfor %}
		</ul> 
	{% endblock %}
	
	{% block side_bar %}
		{{ block.super }} 		     
	{% endblock %}