{% load menubuilder %}
{% load get_latest_entries %}
{% load get_random_testimonial %}
{% load get_latest %} 
{% load get_fp_menu %}
 
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{% block title %}Gristmill Bakery - Deli - Café | Home{% endblock %}</title>
{% block base_css %}
<link rel="stylesheet" href="/static/css/reset.css" /> 
<link rel="stylesheet" href="/static/css/fonts.css" />
<link rel="stylesheet" href="/static/css/global.css" />
<!--<link rel="stylesheet" href="/static/css/960.css" />-->
<link rel="stylesheet" href="/static/css/layout.css" />
<link rel="stylesheet" href="/static/css/theme.css" />

{% endblock %}
{% block theme_css %}

{% endblock %}
</head>
<body> 
	<div id="wrapper"> 
		{% block main_header %}
		<header id="mainHeader">
			{% block page_header %}
			<hgroup id="branding">
	    		<h1><a title="Gristmill home" href="/" >Gristmill</a></h1>
	    		<h2>Bakery - Deli - Caf&eacute;</h2>
			</hgroup>
			{% endblock %} 
			
			<nav id="contactNav"> 
				<ul>{% menu contact_nav_list %}
				    {% for item in menuitems %}<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
				    {% endfor %}</ul>
			</nav><!-- end nav#contactNav -->
			
			<nav id="mainNav">
				<ul>{% menu main_nav_list %}
				    {% for item in menuitems %}<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
				    {% endfor %}</ul>
			</nav><!-- end nav#mainNav -->
            <div class="clear"></div>
		      		
		</header><!-- end #mainHeader end container_12-->
        {% endblock %}
       
		<section id="content">
			<section id="mainContent">   			
			{% block main_content %}				
				<h1>{% block page_heading %}Welcome to the Gristmill{% endblock %}</h1>
				
					{% block page_content %}Some content from the data base will go here.{% endblock %}
					
			{% endblock %}
		    </section><!-- end #mainContent -->            
			<aside id="sidebar">
			{% block side_bar %}
				{% block sub_menu %}
				<!-- some sub_menu goes here -->
				
				{% endblock %}
				{% block mini_gallery %}
				<section id="miniGallery">
		  		  	<h3><a href="/gallery/all">Cake Shop Magic</a></h3>
				    {% get_latest galleria.Image 9 as most_recent_images %} 
					<ul>
					{% for image in most_recent_images %}
						{% if forloop.counter0|divisibleby:"3" %}
			        	<li class="startRow"><a href="{{ image.get_absolute_url }}" title="Details on: {{ image.caption }}">
							<img src="{{ image.get_img_url }}" alt="{{ image.caption }}"/></a></li>
						{% else %}
						    <li><a href="{{ image.get_absolute_url }}" title="Details on: {{ image.caption }}">
								<img src="{{ image.get_img_url }}" alt="{{ image.caption }}"/></a></li>
						{% endif %}
					{% empty %}
					    <li>Sorry, no images found!!!</li>
					{% endfor %}
					</ul>
					<p><a class="more" href="/gallery/all/">more photos »</a></p>
		    	</section><!-- end section#miniGallery -->
				{%  endblock %}

				{% block news %}
				<section id="news">
					<h3><a href="/daily-grist">Daily Grist News</a></h3> 				
				    {% get_latest_entries %} 				    
				        {% for entry in latest_entries %}
						<a href="{{ entry.get_absolute_url }}">
							<article>						
		  		  	  	  		<header>
								 	<em class="date">{{ entry.pub_date|date:"b d Y"|upper }}</em>
									<h4>{{ entry.title }}</h4> 		  	  	    		
		  		  	  	  		</header>
		  		  	  	    	{{ entry.body_html|safe|truncatewords:20}}
		  		  	  		</article>
						</a>	
						{% empty %}
							<p>Sorry, no blog entries found!!!</p>
				        {% endfor %}
				</section><!-- end section#news -->
				{% endblock %}

				{% block testimonial %}
				<section class="testimonial"> 
			 		<h3><a href="/testimonials">Testimonials</a></h3>
						{% get_random_quotation %}
						<blockquote>{{ quotation.quote }}</blockquote>   				
							<p class="citation">
								<em class="quoteSource">{{ quotation.customer }}</em> <br>
								<span class="place">{{ quotation.customer.city }}, {{ quotation.customer.state_province }}</span><br>
							   <span class="date">{{ quotation.date }}</span> 
							 </p>
				</section><!-- end section#testimonial -->
				{% endblock %}      

				{% block gift_card %}
				<section id="giftcard">   	   
					<h3><a href="/giftcards">Gift Cards</a></h3>			
					<a href="/giftcards"><img src="/static/img/giftcard.png" alt="grsitmill giftcard in the card reader"></a>  	  		 
		  		</section><!-- end section#giftcard -->
				{% endblock %}
								
				{% block social_media %}
				<section id="socialMedia"> 
					<ul>
						<li><a id="facebook" href="#">facebook</a></li>
						<li><a id="twitter" href="#">twitter</a></li>
						<li><a id="yelp" href="#">yelp</a></li>
						<li><a id="rss" href="#">rss feed</a></li> 
				    </ul>
				<div class="clearfix"></div>   			  	  		 
			  	</section>
				{% endblock %}
	   		{% endblock %}	      	
		  	</aside><!-- end aside#sidebar -->
		   <div class="clearfix"></div>
		
		</section><!-- end section#content -->

		<footer id="mainFooter">   		
			{% block main_footer %}
			<nav id="bakery">
				<h2>Bakery</h2>
			{% get_fp_menu wedding-cakes as wedding_cakes_menu %}
			 	{% for item in wedding_cakes_menu %}
			 		{% if forloop.first %}
			 		<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
			 			<ul>
			 		{% else %}
			 	    		<li><a href="{{ item.url }}">{{ item.title }}</a></li>			
			 	    {% endif %}
			 	{% endfor %}
			 			</ul> 
			{% get_fp_menu cakes as cakes_menu %}
				{% for item in cakes_menu %}
					{% if forloop.first %}
					<h3><a href="{{ item.url }}" title="All about {{ item.title }}">{{ item.title }}</a></h3>
						<ul>
					{% else %}
				    		<li><a href="{{ item.url }}">{{ item.title }}</a></li>			
				    {% endif %}
				{% endfor %}
						</ul>
			 
			</nav><!-- end nav#bakery -->
			
			<nav id="deli">
				 <h2>Deli</h2>
				{% get_fp_menu catering as catering_menu %}
					{% for item in catering_menu %}
						{% if forloop.first %}
					    <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
							<ul>
						{% else %}
						    <li><a href="{{ item.url }}">{{ item.title }}</a></li>			
						{% endif %}
				    {% endfor %}
						</ul>
			</nav><!-- end nav#deli-->
			
            <nav id="cafe">
			 <h2>Café</h2>
			{% get_fp_menu catering as catering_menu %}
				{% for item in catering_menu %}
					{% if forloop.first %}
				    <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
						<ul>
					{% else %}
					    <li><a href="{{ item.url }}">{{ item.title }}</a></li>			
					{% endif %}
			    {% endfor %}
					</ul>
			</nav><!-- end nav#cafe -->
			<div class="clearfix"></div>
			{% endblock %} 
		</footer>
		
	</div>
	<!-- end #wrapper -->
</body>
</html>