{% load menubuilder %}
{% load get_latest_entries %}
{% load get_random_testimonial %}
{% load get_latest %} 
{% load get_fp_menu %}
 
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{% block title %}Gristmill Bakery - Deli - Café | Home{% endblock %}</title>
{% block base_css %}
<link rel="stylesheet" href="/static/css/reset.css" /> 
<link rel="stylesheet" href="/static/css/fonts.css" />
<link rel="stylesheet" href="/static/css/text.css" />
<link rel="stylesheet" href="/static/css/960.css" />


{% endblock %}
{% block theme_css %}
<link rel="stylesheet" href="/static/css/layout_theme.css"/>
<style>
<!--
div#miniGallery a{
display: block;
border: 1px solid #000000;
width: 48px;
height: 48px;
}
-->
</style>
{% endblock %}
</head>
<body> 
	<div class="container_12"> 
		{% block main_header %}
		<header id="mainHeader">
			<nav class="grid_8 alpha">
				<ul>{% menu contact_menu_list %}
				    {% for item in menuitems %}<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
				    {% endfor %}
				</ul>
			</nav><!-- end .grid_8 -->
			
			<nav class="grid_4 omega">
				<ul>{% menu tool_menu_list %}
				    {% for item in menuitems %}<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
				    {% endfor %}
				</ul>
			</nav>
			<!-- end .grid_4 -->
            <div class="clear"></div>
			
            {% block page_header %}
			<div id="brand" class="grid_12">
				<h1><a href="/">Gristmill</a></h1>
				<h2>Bakery - Deli - Caf&eacute;</h2>           
			</div>
			<!-- end .grid_12 -->
			 <!-- end page_header block --> 
			{% endblock %}
		      		
		</header><!-- end #mainHeader end .container_12 -->
        {% endblock %}

		<nav id="mainNav" class="grid_12">
			{% block main_nav %}
				<ul>{% menu main_nav_list %}
				    {% for item in menuitems %}<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
				    {% endfor %}
				</ul>
			   
			{% endblock %}
		</nav>
		<!-- end .grid_12 -->
       
		<section id="mainContent">
			<div class="grid_7">				
			{% block main_content %}
				<h1>Welcome to the Gristmill</h1>
				<p>Some content will go here some day.</p>
					
			{% endblock %}
		    </div>
			<!-- end .grid_7 -->
			
            
			<aside id="sidebar" class="grid_5 omega">
			{% block side_bar %}
				<p>
				{% block template_note %}
					template: base.html
				{% endblock %}
				</p>
				
				<div id="quickMenu"> 
					{% include "includes/quick_menu.html" %}
				</div>
				
				{% block side_bar_extras %}			    			
				<div id="miniGallery">
				<h2>Recent Images</h2>
				    {% get_latest galleria.Image 11 as most_recent_images %} 
					<ul style="list-style: none;">
					{% for image in most_recent_images %}
					    <li style="float: left; margin: 2px 1px 2px 0; padding: 2px; text-align: center;">
							<img style="height: 50px;" src="{{ image.filename.url }}" title="{{ image.caption }}" alt="{{ image.caption }}"/>
						</li>
					{% empty %}
					    <li>Sorry, no images found!!!</li>
					{% endfor %}
						<li style="float: left; margin: 2px; padding: 2px; text-align: center;"><a href="/gallery/all/">More photos</a></li>
					</ul>
			    </div>

				<div id="news"> 
				<h2>Latest news</h2> 				
				    {% get_latest_entries %} 
				    <ul>
				        {% for entry in latest_entries %}
				         <li><h6><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a> - <em style="font-size: 80%">{{ entry.pub_date }}</em></h6>	
						{% empty %}
							<p>Sorry, no blog entries found!!!</p>
				        {% endfor %}
				    </ul>
				<p><a href="/daily-grist/">More from the mill's hopper</a></p>
				</div>
				
				<div id="testimonial">
				<h2>Testimonial from Tag</h2>
				{% get_random_quotation %}
					<blockquote><p>{{ quotation.quote }}</p></blockquote>
					<p style="text-align: right;"><em>{{ quotation.customer }}</em><br>
						<span ="place">{{ quotation.customer.city }}, {{ quotation.customer.state_province }}<br>
							<span class="date">{{ quotation.date }}</span></p>

					<a href="/testimonials/">More customer testimonials</a>
				</div>
				{% endblock %}				
								
	   		{% endblock %}	      	
			</aside>  
			<!-- end .grid_5 end #sidebar -->
						
			<div class="clear"></div> 
		</section>
		<!-- end #mainContent -->

		<footer id="mainFooter">
			{% block main_footer %}
			<nav class="grid_12">
				<div id="subMenu">
					{% get_fp_menu cakes as cakes_menu %}

					{% for item in cakes_menu %}
						{% if forloop.first %}
						<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
						<ul>
						{% else %}
					    <li><a href="{{ item.url }}">{{ item.title }}</a></li>			
					    {% endif %}
					{% endfor %}
					</ul>

					{% get_fp_menu wedding-cakes as wedding_cakes_menu %}
					{% for item in wedding_cakes_menu %}
						{% if forloop.first %}
						<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
						<ul>
						{% else %}
					    <li><a href="{{ item.url }}">{{ item.title }}</a></li>			
					    {% endif %}
					{% endfor %}
					</ul>

					{% get_fp_menu catering as catering_menu %}
					{% for item in catering_menu %}
						{% if forloop.first %}
						<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
						<ul>
						{% else %}
					    <li><a href="{{ item.url }}">{{ item.title }}</a></li>			
					    {% endif %}
					{% endfor %}
					</ul>
				</div>
			</nav>
			<div class="clear"></div>
			{% endblock %} 
		</footer>
		
	</div>
	<!-- end .container_12 -->
</body>
</html>