{% extends "base.html" %} 

{% block main_content %}
 <h1>{% block page_heading %}{% endblock %}</h1>

	{% block pagination_top %}
		{% if is_paginated %}
		<div class="pagination">
		        {% if page_obj.has_previous %}
		        <span class="prev"><a href="?page={{ page_obj.previous_page_number }}">« previous | </a></span>
		        {% endif %}
		
		        <span class="pageCount">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
		
		        {% if page_obj.has_next %}
		        <span class="next"><a href="?page={{ page_obj.next_page_number }}"> | next »</a></span> 
		        {% endif %}
		<div class="clear"></div>
		</div> <!-- end div.pagination -->
		{% endif %}
	{% endblock %}
	
	{% block page_content %}
	{% endblock %}
	
	{% block pagination_bottom %}
		{% if is_paginated %}
		<div class="pagination">
		        {% if page_obj.has_previous %}
		        <span class="prev"><a href="?page={{ page_obj.previous_page_number }}">« previous | </a></span>
		        {% endif %}
			
		        <span class="pageCount">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
		
		        {% if page_obj.has_next %}
		        <span class="next"><a href="?page={{ page_obj.next_page_number }}"> | next »</a></span>
		        {% endif %}
		<div class="clear"></div> 
		</div> <!-- END pagination div -->
		{% endif %}
	{% endblock %}	

{% endblock %}
	
  	
                                                                                                                                        