{% extends 'daily_grist/base.html' %}  

{% block title %}Gristmill's Daily Grist News Archive{% endblock %}
	  
{% block main_content %} 
	{% block pagination_top %} {{ block.super }} {% endblock %}
	
	{% block page_heading %}<h1>The Daily Grist News Archive</h1>{% endblock %}
	
	<h2>2012</h2>
   		{% block page_content %} 
   		<ul class="blogArchive">
   		{% for entry in latest_entries %}
   		 	<li>  				
		 		<h2><a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}"> {{ entry.title }} <em class="date">{{ entry.pub_date|date:"b d Y"|upper }}</em></a></h2>
			</li>
   		{% endfor %}
   		</ul>

	{% block pagination_bottom %} {{ block.super }} {% endblock %}
 
	{% endblock %}
  
{% endblock %}