{% extends 'daily_grist/base.html' %}  

{% block title %}Daily Grist Archive{% endblock %}
	  
{% block main_content %}
<h2>The Daily Grist News Archive</h2>
	
   
<h2>{{ entry_list.pub_date|date:"Y" }} Archive</h2>   
	<ul>
	{% for entry in entry_list %}
	 	
		<h3>{{ entry.pub_date|date:"Y" }}</h3>
		<h6><i>{{ entry.pub_date|date:"F j" }} - </i><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h6>
				
	{% endfor %}
	</ul>
	
	{% for entry_year in entry_list %}
	        <ul class="year">{{entry_year.keys.0}}
	            {% for month, entries in entry_year.values.0.items %}
	                <!--show only months with events! -->
	                {% if entries %} 
	                    <li id="{{entry_year.keys.0}}-{{month}}" class="month">
	                        <div class="month-data">
	                            <div class="collapsed">►&nbsp;</div>
	                            <div class="expanded" style="display:none;">▼&nbsp;</div>
	                            <span class="name">{{entries.0.date|date:"F"}}</span>
	                            <span class="counter"> ({{entries|length}})</span>
	                        </div>
	                        <ul class="events" style="display:none;">
	                        {% for entry in entries %}
	                            <li class="event">
	                            <a class="title" href="#">{{entry.title}}</a>
	                            <div class="date">{{entry.date|date:"j M Y"}}</div>
	                            </li>
	                        {% endfor %}
	                        </ul>
	                    </li>
	                {% endif %}
	            </li>
	            {% endfor %}
	        </ul>
	    {% endfor %}
	
{% endblock %}


	{% block template_note %}
		{{ block.super }}, daily_grist/entry_archive_year.html
	{% endblock %}