{% extends 'daily_grist/base.html' %}
{% block title %} Daily Grist Article | {{ entry.title }} {% endblock %}
   
{% block main_content %}

	{% block pagination_top %}
	<div class="pagination">
	{% if entry.get_previous_published %}   
		<span class="prev">
			<a href="{{ entry.get_previous_published.get_absolute_url }}" title=" {{ entry.get_previous_published.title }}">« previous |</a></span>  
	{% endif %}   
	{% if entry.get_next_published %}
		<span class="next"><a href="{{ entry.get_next_published.get_absolute_url }}" title="{{ entry.get_next_published.title }}">| next »</a></span>
		{%endif%}
	</div> <!-- end div.pagination -->
	{% endblock  %}

  <article>
     <header>
	 	<h1>{{ entry.title }}</h1>
	 </header>
	
	 {% if entry.lead_image %}<img src="{{ entry.lead_image.get_img_url }}" /> {% endif %}  
    
       {{ entry.body_html|safe }}
   
    <footer>
		<p class="date">Posted <!--by {{ entry.author }}--> on {{ entry.pub_date|date:"F j, Y" }}.</p>
		<!--<p>tags should go here: {% for tag in entry.get_tags %}<a href="{{tag.name|slugify}}/">{{ tag }}</a>, {% endfor %}</p>-->	  		
	</footer>
  </article>
    
	{% block pagination_bottom %}
	<div class="pagination">
	{% if entry.get_previous_published %}   
		<span class="prev">
			<a href="{{ entry.get_previous_published.get_absolute_url }}" title=" {{ entry.get_previous_published.title }}">« previous |</a></span>  
	{% endif %}   
	{% if entry.get_next_published %}
		<span class="next"><a href="{{ entry.get_next_published.get_absolute_url }}" title="{{ entry.get_next_published.title }}">| next »</a></span>
		{%endif%}
	</div> <!-- end div.pagination -->
	{% endblock  %}
    
{% endblock %} 

